/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TOP HEADER */
.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 3px;
  background-color: #9f9fee; /* dark header background */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* USER SECTION */
.user-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 1rem;
  gap: 1rem;
}

/* USER MENU */
.user-menu {
  padding: 0.5rem;
  position: relative;
}

.user-menu button {
  background-color: #9f9fee;
  border: 1px solid #5555ad; /* Add border style + color */
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.user-menu button:hover {
  background-color: #3e3e5a;
}

/* sub-menu */
.sub-menu {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: white;
  list-style: none;
  padding: 10px 0;
  border-radius: 6px;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  min-width: 150px;
}

.sub-menu li {
  padding: 10px 20px;
  cursor: pointer;
  color: #333;
}

.sub-menu li:hover {
  background-color: #f5f5f5;
}

/* Name */
.navbar-name {
  margin-left: 4rem;
  font-size: 24px;
  font-weight: 600;
}
